.auth-card {
  width: 80%;
  min-width: 320px;
  max-width: 524px;
  display: flex;
  flex-direction: column;
}

.panel-card .controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  overflow: hidden;
  margin-top: 32px;
  margin-bottom: 32px;
}

.panel-card .options {
  flex: 1 0 100px;
  display: flex;
  flex-direction: column;
}

.panel-card .preview {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.panel-card .preview .preview-card {
  align-self: flex-end;
  margin: 0;
}

.panel-card .preview .buttons {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.icon {
  width: var(--normal-font-size);
  height: var(--normal-font-size);
}